*.iml
.gradle/
/build/
build/
**/build/

.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

.kotlin/
.cxx/
.externalNativeBuild/
.DS_Store
/captures

local.properties
gradle.properties